.header {
  width: 92.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 56px;
}

@media screen and (max-width: 1279px) {
  .header {
    width: 90.625%;
    padding: 28px 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: 93.75%;
    padding: 28px 0 48px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    width: 90%;
    padding: 16px 0 48px;
  }
}
