.lead__caption {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: 14px;
  margin: 0;
  padding-top: 8px;
}

@media screen and (max-width: 1023px) {
  .lead__caption {
    padding-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    padding-left: 16px;
  }
}
